body{
    background-color: grey;
}

.container{
    background-color: #dcdbe1;
    display: flex;
    margin-left: 40%;
    margin-right: 40.5%;
    margin-top: 15%;
    border: #191b28;
    border-radius: 5%;
}

.display-box {
    display: flex;
    font-family: sans-serif;
    background-color: #dbdbdb;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    height: 32px;
    width: 94%;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: 15px;
    transition: box-shadow 0.15s;
    
}

#btn {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 1px;
    transition: box-shadow 0.15s;
    
}
#btn:hover{
    background-color: rgba(5, 4, 4, 0.705);
}

input[type=button] {
    background-color: rgb(3, 64, 66);
    color: white;
    border: none;
    height: 2rem;
    width: 50px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left:8px;
    margin-right: auto;
    transition: box-shadow 0.15s;
    }
input[type=button]:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55);
    }

