body{
    background-color: grey;
}

.container{
    background-color: #dcdbe1;
    display: flex;
    width: 27%;
    padding: 20px;
    margin: auto;
    border: #191b28;
}


.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
   
}
.display-box {
    display: flex;
    font-family: sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    height: 32px;
    width: 98%;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

#btn {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}
#btn:hover{
    background-color: rgba(5, 4, 4, 0.705);
}

input[type=button] {
    background-color: rgb(3, 64, 66);
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    }
input[type=button]:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55);
    }

.zero{
    
}
